.row {
  width: 340px;
  display: flex;
  flex-flow: row nowrap;
}
.item {
  flex: 1;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
}
.inner {
  background-color: var(--main3);
  padding: 2px 6px;
}