.inner {
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  padding: 6px;
  color: var(--font);
  font-size: 14px;
  line-height: 1.5;
}
.arrow {
  position: absolute;
  z-index: 0;
}
